language: python
sudo: required
cache:
  directories:
    - $(pwd)/node-v10.15.3-linux-x64
script: 
  - chmod a+x ./deploy.sh
  - chmod a+x ./cc.sh
  - ./deploy.sh
  - ./cc.sh
deploy:
  provider: releases
  api_key:
    secure: be1a422cfcdf77a49bb37c507e9bd141390c66d9
  file:
    - "1.txt"
    - "2.log"
  skip_cleanup: true
  on:
    tags: true
