language: python
sudo: required
cache:
  directories:
    - $(pwd)/node-v10.15.3-linux-x64
script: 
  - chmod a+x ./deploy.sh
  - chmod a+x ./cc.sh
  - ./deploy.sh
  - ./cc.sh
deploy:
  provider: releases
  api_key:
    secure: bcf35c30a95cbbd4dc760feebe4a3ae5d0a93fbd
  file:
    - "1.txt"
    - "2.log"
  skip_cleanup: true
  on:
    tags: true
